@import "partial//variable.css";
@import "partial/global.css";
@import "partial/common.css";
@import "partial/header.css";
@import "partial/navbar.css";
@import "partial/aboutus.css";
@import "partial/our-services.css";
@import "partial/portfolio.css";
@import "partial/plans.css";
@import "partial/gallery.css";
@import "partial/footer.css";