/* For LOGO  */


/* Containers */
.container {
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
    
}

.active {
    position: absolute;
    left: 0px;
    top: 4rem;

    transition: all 1s;
}

.pt-80 {
    padding-top: 8rem;
}

.mt-80 {
    margin-top: 8rem;
}

.mb-80 {
    margin-bottom: 8rem;
}

.mb-70 {
    margin-bottom: 7rem;

}

.mb-50 {
    margin-bottom: 5rem;
}

.mb-40 {
    margin-bottom: 4rem;
}

.mb-30 {
    margin-bottom: 3rem;
}


.mb-10 {
    margin-bottom: 1rem;
}


.section-title {
    font-family: var(--primary-ff);
    font-size: var(--section-fz);
    font-weight: 300;
    line-height: 6rem;
    text-transform: uppercase;
    text-align: center;

    color: var(--primary-color);
}

.card-container {

    font-family: var(--primary-ff);

    display: flex;
    justify-content: center;
    gap: 3rem;

}



.choose-plan-btn {
    width: 60%;
    height: 4rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    
    font-family: var(--primary-ff);
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 4rem;
    color: var(--bg-color);
    
    transition: all 0.7s;
}

.choose-plan-btn:hover {
    background-color: var(--accend-color);
    color: var(--hero-color);
}

@media (max-width: 800px) {

    .logo a {
        font-size: 2rem;
        line-height: 6rem;
    }

    .logo a span {
        font-size: 1rem;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }
    
}
