.container {
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
    
}

.active {
    position: absolute;
    left: 0px;
    top: 4rem;

    transition: all 1s;
}


.mb-80 {
    margin-bottom: 8rem;
}

.mb-50 {
    margin-bottom: 5rem;
}

.mb-40 {
    margin-bottom: 4rem;
}

.mb-30 {
    margin-bottom: 3rem;
}


.mb-10 {
    margin-bottom: 1rem;
}


.section-title {
    font-family: var(--primary-ff);
    font-size: var(--section-fz);
    font-weight: 300;
    line-height: 6rem;
    text-transform: uppercase;
    text-align: center;

    color: var(--primary-color);
}