.footer {
    /* height: 50rem; */
    background-color: var(--footer-bg-color);
    display: flex;
    flex-direction: column;
    font-family: var(--primary-ff);
    padding: 6rem 0 4rem;
}

.foot-nav .logo a {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    
}

.foot-nav .logo a span {
    color: var(--bg-color);
    font-size:3rem;

}

.footer a {
    text-decoration: none;
}




.footer .foot-nav {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    margin-bottom: 2rem;
}

.footer .foot-nav .discribe {
    display: flex;
    flex: 0 0 50%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .foot-nav .discribe dl {
    flex: 1 1 33.33%;
}

.discribe dl > dt {
    color: gray;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    
}


.discribe dl > dd {
    margin-bottom: 1.5rem;
}

.discribe dl > dd a {
    color: var(--bg-color);
    font-size: 1.5rem;
    text-transform: capitalize;
}



.footer nav .social ul {
    display: flex;
}


.footer nav .social ul
 {
    display: flex;
    gap: 1rem;
}



.footer nav .social ul a i {
    color: #fff;
    font-size: 3rem;
}

.footer nav .social ul a:hover i {
    color: var(--primary-color);
    font-size: 3rem;
}

.footer .location {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.footer .bot-link  {
    display: flex;
    justify-content: space-between;
}

.footer .bot-link ul {
    display: flex;
    gap: 3rem;
}

.footer div a,
.footer div i
{
    color: #fff;
    
}

.footer div a {
    margin-left: 0.5rem;
}



.footer .bot-link span {
    color: #fff;
}

.discribe dl > dd a:hover,
.footer div a:hover
{
    color: var(--primary-color) ;
}


@media (max-width: 600px) { 

    .footer .foot-nav .discribe {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        gap: 2rem;
    }
    
    
   
}

@media (max-width: 986px) {
    .footer .foot-nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .footer .bot-link ul {
        margin-right: 2rem;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 70%;
    }

    

}