.home, .top-bar, .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}




/* .home {
    height: 100vh;
    
    
} */

/* start TOP BAR */
.top-bar {
    background-color: var(--accend-color);
    height: 8rem;

    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.4rem;
}

@media (max-width: 800px) {
    .top-bar h1 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
}

.home div h1 {
    font-family: var(--primary-ff);
    font-weight: 900;
    color: var(--hero-color);
    text-transform: uppercase;
}


/*  Start BANNER */

.banner {
    background: url('../../img/rohit-tandon-62046.jpg') no-repeat center;
    background-size: cover;

    width: auto;
    height: 85vh;


    
    font-size: var(--hero-fz);
    font-weight: 700;
    letter-spacing: 1.6rem;
    line-height: 9.3rem;

}


/* .banner h1:last-child {
    font-size: 10rem;
    font-weight: 300;
}

.banner h1 {
    transition: all 1s;
}

.banner h1:hover {
    transform: scale(1.1);
    color: var(--primary-color);
} */

.warpper-one,
.warpper-two 
{
    height: 9rem;
    display: block;
    overflow-y: hidden;
}



.banner .warpper-one .text,
.banner .warpper-two .text
{
    font-size: 8rem;
    font-weight: 900;
    
    position: relative;
    animation: slide-up 1.5s;

}

@keyframes slide-up {
    from {
        transform: translateY(8rem);
    }
    
    to {
        transform: translateY(0);
    }
}



@media (max-width: 800px) {
        .banner {
            height: 80vh;
        }
        

        .warpper-one,
        .warpper-two 
        {
            height: 18rem;
            display: block;
            overflow-y: hidden;
        }



        .banner .warpper-one .text
        {
            font-size: 5rem;
            font-weight: 900;
            letter-spacing: auto;
            
            position: relative;
            animation: left-to-right 1.5s;

        }


        @keyframes left-to-right {
            from {
                transform: translateX(-100rem) ;
            }
            
            to {
                transform: translate-x(0);
            }
        }

        .banner .warpper-two .text {
            font-size: 5rem;
            font-weight: 900;
            letter-spacing: auto;
            
            position: relative;
            animation: right-to-left 1.5s;
        }

        @keyframes right-to-left {
            from {
                transform: translateX(100rem) ;
            }
            
            to {
                transform: translate-x(0);
            }
        }
        
    }
    





