.card-container {

    font-family: var(--primary-ff);

    display: flex;
    gap: 3rem;
}




.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.card-img {
    background-color: var(--primary-color);
    width: 16rem;
    height: 16rem;
    border-radius: 16rem;
    display: flex;
    align-items: center;

    transition: all 0.8s;
}

.card:hover .card-img {
    transform: rotate(360deg) scale(1.2);
}

.card-img img {
    margin: auto;
}

.card-title {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
}

.card-text {
    font-size: var(--body-fz);
    line-height: 2.6rem;
}


.choose-plan-btn {
    width: 60%;
    height: 4rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 4rem;
    color: var(--bg-color);
    
    transition: all 0.7s;
}

.choose-plan-btn:hover {
    background-color: var(--accend-color);
    color: var(--hero-color);
}


@media (max-width: 800px) {
    .card-container {
        flex-direction: column;
    }

    .card {
        background-color: var(--price-card-ds-color);
        border-radius: 2rem;
        padding: 2rem;
    }

    .our-services {
        margin-bottom: 8rem;
    }


} 