

.portfolio {
    background:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/img/breather-163395.jpg") no-repeat center;
    background-size: cover;
    height: 60rem;
    width: 100%;
    justify-content: center;
    
}

.portfolio .section-title {
    color: #fff;
}


.portfolio .owl-carousel .item .portfolio-card a {
    display: block;
    width: 100%;
    height: 6rem;

    position: absolute;
    top: 15rem;

    font-family: var(--primary-ff);
    font-size: var(--nav-fz);
    font-weight: 300;
    line-height: 6rem;
    

    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    background-color: var(--primary-color);
    z-index: 1;

    transition: all 0.8s;
}

.portfolio .owl-carousel .item .portfolio-card {
    overflow: hidden;
}

.portfolio .owl-carousel .item .portfolio-card img {
    transition: all 0.8s;
}

.portfolio .owl-carousel .item .portfolio-card:hover img {
    transform: scale(1.2);
}


.portfolio .owl-carousel .item .portfolio-card:hover a {
    background-color: var(--accend-color);
}


.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next 
{
    font-family: var(--primary-ff);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
    
    width: 10rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: rgba(0,0,0,0.5);

    margin-top: 7rem;

} 



